div.cl-quiz {
  @extend %shadow;
  border: solid #cccccc 1pt;
  padding: 6px;
  margin: 1em 0;
  min-height: 15em;
  align-items: center;
  justify-content: center;
  background: $quiz-background;

  >div {
    width: 100%;
  }

  >div.content {
    padding: 0;
  }

  div.cl-results {
    width: 80%;
    margin: 0 auto;
  }


  h2 {
    border: 0;
    margin-top: 14px;
  }

  div.cl-multi {
    margin: 1em 0;
    padding: 0 0 0 3em;

    p {
      margin: 0;
    }
  }

  p.done {
    background: $comp;
    text-align: center;
    color: white;
  }

  button {
    width: 10em;
  }

  tr.best td {
    background: #dde;
  }

  div.previewer {
    clear: both;
    border-top: 1px solid black;

    h3 {
      margin: 0;
      font-size: 1.2em;
    }

    ul {
      margin-top: 0;
    }
  }

  div.preview {
    margin: 0 0 1em 0;

    hr {
      margin: 0;
    }

    h3 {
      text-align: center;
    }

    p.preview {
      font-style: italic;
      margin-top: 0;
      text-align: center;
      border-bottom: 1px solid black;
    }
  }

  p.cl-quiz-answer-note {
    text-align: center;
    font-style: italic;
    color: #800;
  }
}

@media only screen and (max-width: $medium-width) {
  #quiz {
    margin-right: $right-margin-mobile;
  }

}